@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    cursor: none;
}

a {
    cursor: none;
}

.cursor {
  @apply absolute w-12 h-12 border-2 border-white rounded-full -translate-y-1/2 -translate-x-1/2;
  z-index: -1;
}

ul li:hover {
    @apply text-white;
}
